/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./styles/support.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.support {
  background-image: url(/_next/static/media/patterns.eeb89cdb.svg);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center 820px;
}
@media screen and (max-width: 991px) {
  .support {
    background-position: center bottom;
  }
}
.support .support-boxs .box .icon svg {
  font-size: 5rem;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"components/Support.tsx","import":"Raleway","arguments":[{"subsets":["latin"],"weight":"900","display":"swap"}],"variableName":"raleway"} ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: '__Raleway_Fallback_8d7ded';
  src: local("Arial");
  ascent-override:89.62%;
  descent-override:22.31%;
  line-gap-override:0.00%;
  size-adjust:104.89%;
}@font-face {font-family: '__Raleway_Fallback_Fallback_8d7ded';src: local("Arial");ascent-override: 89.62%;descent-override: 22.31%;line-gap-override: 0.00%;size-adjust: 104.89%
}.__className_8d7ded {font-family: '__Raleway_Fallback_8d7ded', '__Raleway_Fallback_Fallback_8d7ded';font-weight: 900;font-style: normal
}
