/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/keen-slider/keen-slider.min.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.keen-slider:not([data-keen-slider-disabled]){-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;align-content:flex-start;display:flex;overflow:hidden;position:relative;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;user-select:none;-khtml-user-select:none;width:100%}.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide{min-height:100%;overflow:hidden;position:relative;width:100%}.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse]{flex-direction:row-reverse}.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v]{flex-wrap:wrap}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./styles/sale.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sale::before {
  content: "%";
  position: absolute;
  top: 0;
  left: 10%;
  color: #ffffff;
  font-size: 20rem;
}
@media screen and (max-width: 991px) {
  .sale::before {
    font-size: 6rem;
  }
}
.sale .sale-heading h3 {
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffffff;
}

.sale-home {
  background-image: url(/_next/static/media/patterns.eeb89cdb.svg);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center 700px;
}
@media screen and (max-width: 991px) {
  .sale-home {
    background-position: center bottom;
  }
}
.sale-home .keen-slider__slide {
  background: #ffffff;
}
@media screen and (max-width: 991px) {
  .sale-home .keen-slider-large {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .sale-home .keen-slider-small {
    display: none !important;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"components/SaleHome.tsx","import":"Raleway","arguments":[{"subsets":["latin"],"weight":"900","display":"swap"}],"variableName":"raleway"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: '__Raleway_Fallback_a062ca';
  src: local("Arial");
  ascent-override:90.51%;
  descent-override:22.53%;
  line-gap-override:0.00%;
  size-adjust:103.86%;
}@font-face {font-family: '__Raleway_Fallback_Fallback_a062ca';src: local("Arial");ascent-override: 90.51%;descent-override: 22.53%;line-gap-override: 0.00%;size-adjust: 103.86%
}.__className_a062ca {font-family: '__Raleway_Fallback_a062ca', '__Raleway_Fallback_Fallback_a062ca';font-weight: 900;font-style: normal
}
