.cta {
  .cta-box {
    position: relative;
    z-index: 5;
    a {
      background-color: #0056b3;
      color: #ffffff;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }
  }
  .mail-img {
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
}
