.support {
  background-image: url("../public/patterns.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center 820px;
  @media screen and (max-width: 991px) {
    background-position: center bottom;
  }
  .support-boxs {
    .box {
      .icon {
        svg {
          font-size: 5rem;
        }
      }
    }
  }
}
